-#
  This file is part of the CSI QFrame.
  
  The CSI QFrame is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 3 of the License, or
  (at your option) any later version.
  
  The CSI QFrame is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  
  @copyright  Copyright (c) 2007 Collaborative Software Initiative (CSI)
  @license    http://www.gnu.org/licenses/   GNU General Public License v3

- header('Cache-Control: no-store, no-cache, must-revalidate, private, post-check=0, pre-check=0', FALSE);
- header('Pragma: no-cache');
- header('Content-Type: application/octet-stream');
- header('Content-Disposition: attachment; filename=report.csv')
- $lookup = array('model_fail' => 'failure', 'model_pass' => 'pass', 'additional_information' => 'had addl info')
"category","page","question number","question","response","additional information","failure message(s)","remediation info"
- foreach($this->failures as $index => $entries) 
  - foreach($entries as $entry)
    - $question = $this->escapeForCsv($entry['question']->qText)
    - $page = ($entry['question']->parent instanceof SectionModel) ? $this->escapeForCsv($entry['question']->parent->parent->pageHeader) : $this->escapeForCsv($entry['question']->parent->parent->parent->pageHeader);
    - $questionNumber = $this->escapeForCsv($entry['question']->questionNumber)
    - $response = $this->escapeForCsv($entry['question']->getResponseText())
    - $addl = $this->escapeForCsv($entry['question']->getResponse()->additionalInfo)
    - foreach($entry['messages'] as $message)
      - $messages[] = $this->escapeForCsv($message)
    - if(!isset($messages)) $messageString = ''
    - else $messageString = implode('","', $messages)
    - $remediationInfo = $this->escapeForCsv($entry['remediation_info'])
    - unset($messages)
    != "\"{$lookup[$index]}\",\"{$page}\",\"{$questionNumber}\",\"{$question}\",\"{$response}\",\"{$addl}\",\"{$messageString}\",\"{$remediationInfo}\""
